body, html, #ide {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#ide {
    display: flex;
    flex-direction: row;
}

#ide #login-pane {
    overflow: hidden;  /* the webview is somehow weird */
}

#ide #output-pane {
    padding: 0 9px;
}

/* split.js stuff */
#ide .gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}
#ide .gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}